
    html,
    body {
      margin: 0;
      padding: 0;
      background-color: transparent;
      max-height: 100%;
      overflow: hidden;
      font-size: 16px;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      user-select: none;
      /* Chrome */
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
      text-size-adjust: none;
    }
    body {
      color: rgba(0, 0, 0, .86);
      font-family: 'Roboto', Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .no-display {
      display: none !important;
    }
    .hidden {
      opacity: 0 !important;
      visibility: hidden !important;
    }
    .flex-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .btn {
      cursor: pointer;
    }
    #overlay {
      position: fixed;
      top: 30px;
      bottom: 30px;
      left: 20px;
      right: 20px;
      min-width: 300px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    #overlay.center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      top: 0;
      bottom: 0;
    }
    #overlay::before {
      background-color: rgba(0, 0, 0, .5);
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    #content {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
      box-sizing: border-box;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 600px;
      margin: 0 auto;
      overflow: hidden;
      padding: 20px;
      position: relative;
      text-align: center;
      -webkit-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
    }
    #content.NPA-only {
      max-width: 338px;
    }
    #title_head {
      font-size: 14px;
      font-weight: 500;
      margin-top: 14px;
      text-align: center;
    }
    .head_intro {
      color: rgba(0, 0, 0, .71);
      font-size: 12px;
      line-height: 16px;
    }
    #head_question {
      font-size: 18px;
      line-height: 23px;
      margin-top: 12px;
    }
    .head_detail {
      color: rgba(0, 0, 0, .71);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 12px;
    }
    .app_icon {
      margin-bottom: 2px;
      margin-right: 10px;
      width: 32px;
      height: 32px;
      vertical-align: middle;
    }
    #app_name {
      font-family: 'Roboto', Arial, sans-serif;
      font-size: 18px;
      line-height: 20px;
      text-align: left;
    }
    #buttons {
      color: #1A73E8;
    }
    .button {
      border-radius: 8px;
      border: 1px solid #DADCE0;
      box-sizing: border-box;
      cursor: pointer;
      padding: 12px 16px 14px;
      margin-top: 16px;
      min-height: 52px;
      text-align: center;
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
      flex: 1 1 0;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    .button.sel {
      background-color: rgba(26, 115, 232, .08);
      border: 1px solid #1A73E8;
      box-shadow: none;
    }
    .button_title {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }
    .message {
      color: rgba(0, 0, 0, .71);
      font-size: 12px;
      line-height: 16px;
    }
    #providers {
      color: rgba(0, 0, 0, .71);
      font-family: 'Roboto', Arial, sans-serif;
      font-size: 14px;
      padding: 0;
      text-align: center;
      min-height: 36px;
      line-height: 18px;
    }
    #providers::after {
      background-color: #DADCE0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }
    #providers > div {
      box-sizing: border-box;
      padding: 2px 10px;
    }
    #providers ul {
      box-sizing: border-box;
      font-size: 12px;
      list-style-type: none;
      margin-bottom: 0;
      margin-right: -2px;
      overflow: auto;
      padding: 0 0 12px;
      text-align: left;
    }
    #providers li {
      border: 1px solid #DADCE0;
      border-radius: 8px;
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 2px;
    }
    #providers li:active {
      background-color: #EEEEEE;
    }
    #providers a {
      color: #3C4043;
      display: inline-block;
      padding: 6px 10px;
    }
    .how-use-data {
      font-size: 12px;
      margin-top: 16px;
    }
    .actions {
      margin-top: 20px;
    }
    .back {
      background-color: white;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzQyODVGNCI+ICAgIDxwYXRoIGQ9Ik0xMS42NyAzLjg3TDkuOSAyLjEgMCAxMmw5LjkgOS45IDEuNzctMS43N0wzLjU0IDEyeiIvPiAgICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9zdmc+);
      background-position: 14px center;
      background-repeat: no-repeat;
      border: 1px solid #DADCE0;
      border-radius: 4px;
      color: #1A73E8;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      height: 32px;
      line-height: 32px;
      padding: 0 16px 0 34px;
      vertical-align: middle;
    }
    .agree {
      background-color: #1A73E8;
      border: 1px solid #1A73E8;
      border-radius: 4px;
      color: white;
      display: inline-block;
      font-size: 13px;
      font-weight: 500;
      height: 32px;
      line-height: 32px;
      margin-left: 12px;
      padding: 0 16px;
      vertical-align: middle;
    }
    .consent {
      margin-top: 16px;
    }
    .consent.fade-in,
    #options.fade-in {
      opacity: 1 !important;
      -webkit-transition: opacity .3s .15s ease-in-out;
      -o-transition: opacity .3s .15s ease-in-out;
      transition: opacity .3s .15s ease-in-out;
    }
    #consent2 .head_intro {
      font-weight: 500;
      margin-bottom: 16px;
    }
    a {
      color: #1A73E8;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    @media screen and (max-width: 410px) and (max-height: 730px) {
      /* e.g. iPhone 4, 5, 6/7/8 portrait */
      #overlay {
        left: 10px;
        right: 10px;
      }
      #content {
        padding: 12px;
      }
      #content.NPA-AdFree {
        padding: 14px;
      }
      #buttons.selected .button:not(.sel) {
        height: 0;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
      }
      #buttons.selected .button:not(.sel) div {
        opacity: 0;
        visibility: hidden;
      }
      .button {
        margin-top: 12px;
      }
      .message {
        display: inline;
      }
      #providers {
        padding: 0;
      }
      .back.btn {
        display: inline-block;
      }
    }
    @media screen and (max-width: 730px) and (max-height: 410px) {
      /* e.g. iPhone 4, 5, 6/7/8 landscape */
      #overlay {
        left: 8px;
        right: 8px;
      }
      #buttons.selected .button:not(.sel) {
        display: none;
      }
      #content {
        max-width: 900px;
        padding: 12px;
      }
      #content.NPA-only {
        max-width: 386px;
        padding: 16px;
      }
      #title_head {
        font-size: 13px;
        margin-top: 8px;
      }
      #buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -5px;
      }
      .button {
        margin: 12px 5px 0;
        padding: 8px;
      }
      .button_title {
        font-size: 13px;
        line-height: 16px;
      }
      .consent {
        line-height: 16px;
        margin-top: 8px;
      }
      .message {
        display: inline;
        font-size: 12px;
      }
      #providers {
        font-size: 12px;
        padding: 0;
      }
      .how-use-data {
        margin-top: 12px;
      }
      .back.btn {
        display: inline-block;
      }
      .agree.btn {
        margin-left: 8px;
      }
      .footer {
        margin-top: 16px;
      }
      .actions {
        margin-top: 0;
      }
    }
    @media screen and (min-width: 731px) and (max-height: 731px), screen and (min-width: 1024px) {
      /* e.g. iPhone 6/7/8 Plus, Pixel, Pixel XL, Tablets landscape */
      #content {
        max-width: 900px;
      }
      #title_head {
        margin-top: 8px;
      }
      #content.NPA-only {
        max-width: 386px;
        padding: 16px;
      }
      #buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -5px;
      }
      .button {
        margin: 14px 5px 0;
        padding: 9px 8px 12px;
      }
      .button_title {
        font-size: 14px;
      }
      .message {
        display: inline;
      }
      #providers {
        padding: 0;
      }
      #providers ul {
        padding: 0 16px 12px;
      }
      .footer {
        margin-top: 20px;
      }
      .actions {
        margin-top: 0;
      }
    }
    @media screen and (min-height: 377px) and (max-height: 700px) {
      /* e.g. iPhone 4, 5, 6/7/8 portrait, 6/7/8 Plus landscape */
      #providers ul {
        max-height: calc(100vh - 246px);
      }
    }
    @media screen and (min-height: 701px) {
      /* e.g. iPhone 6/7/8 Plus portrait or taller (tablets) */
      #providers ul {
        max-height: 460px;
      }
    }
    @media screen and (min-height: 361px) and (max-height: 376px) {
      /* e.g. iPhone 6/7/8, X landscape */
      #providers ul {
        max-height: calc(100vh - 212px);
      }
    }
    @media screen and (max-height: 360px) {
      /* e.g. iPhone 4, 5 landscape */
      #providers ul {
        max-height: calc(100vh - 230px);
      }
    }